
<%- include('../partials/header') %>

<table class="table table-dark table-hover">
    <tr>
        <th>Date</th>
        <th>New Moon/Full Moon</th>
      </tr>
      <tr>
        <td>January 13th:</td>
        <td>New Moon</td>
      </tr>
      <tr>
        <td>January 28th</td>
        <td>Full Moon</td>
      </tr>
      <tr> 
        <td>February 11th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>February 26th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>March 13th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>March 28th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>April 11th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>April 26th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>May 12th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>May 26th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>June 10th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>June 24th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>July 10th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>July 24th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>August 8th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>August 22nd</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>September 6th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>September 20th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>October 5th</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>October 19th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>November 3rd</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>November 17th</td>
        <td>Full Moon</td>
    </tr>
    <tr>      
        <td>December 2nd</td>
        <td>New Moon</td>
    </tr>
    <tr>      
        <td>December 17th</td>
        <td>Full Moon</td>
    </tr>
</table>

<%- include('../partials/footer') %>
