
#btn{
  margin-left: 50px;
  margin-top: 25px;
}


  form {
    margin: 20px;
    padding: 20px;
    background-color: #F7F8FA;
    border-radius: 10px;
  }


  label {
    font-size: 20px;
    margin-right: 10px;
    color: #6C757D;
  }
  input[type='text'], input[type='textarea'], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
  }


